@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Odibee+Sans&display=swap');

$normalFont: 'Barlow Condensed', sans-serif;
$headerFont: 'Odibee Sans', cursive;

$primaryColor: #00BF63;
$primaryLightColor: #ACFAD5;