@use 'variables';

.blog-main-page{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 40px 20px 0px;
	gap: 30px;
	min-height: 60vh;

	@media (min-width: 768px) {
		max-width: 80%;
		margin-left: auto;
		margin-right: auto;
	
	}
}

.pagination{
	display: flex;
	width: fit-content;
	margin: 40px auto;
	gap: 20px;;

	.arrows{
		background-color: variables.$primaryColor;
		color: white;
		padding: 5px 9px;
		border-radius: 3px;
		transition: box-shadow 0.2s ease-in-out;

		&:hover{
			box-shadow: 2px 2px 0px #ffb2f5;
		}
	}

	.n-page{
		font-size: 1.2em;
		line-height: 28px;
	}
}