@use 'variables';

.post-page {
	article {
		margin-top: 10px;
		padding: 20px;
		max-width: 840px;

		h1 {
			text-align: justify;
			font-size: 1.7em;
			margin: 10px 0px;
			border-radius: 4px;
		}

		h2,
		h3,
		h4,
		h5,
		h6 {
			font-size: 1.3em;
			margin: 15px 0px;
			text-align: justify;
		}

		h2{
			color: #1f1f1f
		}

		strong{
			color: #1f1f1f
		}

		.toc {
			padding: 10px;
			border-radius: 2px;
			margin: 20px auto;
			background-color: #ffe7f6;

			@media only screen and (min-width: 768px) {
				width: 70%;
			}

			ol {
				li {
					padding-left: 30px;
					text-decoration: underline;
					text-decoration-color: #00000024;
					line-height: 1em;

					&::before {
						background-color: transparent;
						color: #000;
						font-size: 1.2em;
					}
					a {
						text-decoration: none;
						color: #000;
					}
				}
			}
		}

		p {
			text-align: justify;
			font-size: 1.1em;
		}

		.affiliate {
			margin: 10px 0px 30px;
			display: flex;
			justify-content: center;
			iframe {
				width: 118px;
				height: 237px;
				padding: 25px 120px;
				background-color: #fffde7;
				border: none;
				border-radius: 4px;
				box-sizing: content-box;
			}
		}

		ul,
		ol {
			margin-top: 10px;
			list-style: none;

			li {
				position: relative;
				margin-bottom: 10px;
				padding-left: 40px;
				line-height: 30px;

				&::before {
					content: counter(list-item) '. ';
					position: absolute;
					left: 0;
					top: 0;
					background-color: variables.$primaryColor;
					color: white;
					width: 30px;
					height: 30px;
					text-align: center;
					border-radius: 50%;
				}
			}
		}

		.post-img {
			width: 100vw;
			max-width: 800px;
			height: auto;
			object-fit: contain;
			margin-left: -20px;
			box-shadow: 0px 0px 4px #00000020;

			@media only screen and (min-width: 768px) {
				margin-left: 0px;
			}
		}

		.float {
			display: block;
			width: 50%;
		}

		.right {
			float: right;
			margin: 10px 10px 0px 10px;
		}

		.left {
			float: left;
			margin: 10px 10px 10px 0px;
		}
	}
}
